
{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/picsart.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{post.city}}</h1>
            <span class="subheading">Edit this Post!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


              {{ ckeditor.load() }}
              {{ ckeditor.config(name='info') }}
              {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}



<!--    <div class="container px-4 px-lg-5">-->
<!--        <div class="row gx-4 gx-lg-5 justify-content-center">-->
<!--            <div class="col-md-10 col-lg-8 col-xl-7">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

